*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url(./Cosmic-Gradient-14.jpg);
    background-size: 100vw;
    width: 100vw;

}
.flex-container-navbar{
    display: flex;
    justify-content: center;
    background-color: #181130;
    height: 80px;
    gap: 20px  ;
    opacity: 60%;
}
.flex-container-navbar > div{
    display: flex;
    justify-content: center;
    width: 100%;
}
/*.search-icon{
    height: 20px;
    width: 20px;
    align-content: center;
    size-adjust: 10%;
}*/
.flex-container-hac{
    align-items: center;
}
.flex-container-hac > div{
    width: 100%;
    color: white;
}
.flex-container-textbox{
    display: flex;
    align-items: center;
    
}
.textbox{
    background-color: white;
    color: black;
    margin: 30vh 30vw;
    border-radius: 20px;
    box-shadow: 0 0 50px 10px #ffffff;
}
.textbox > p{
    padding: 15px;
}
.bold{
    font-weight: 600;
    font-size: 30px;
}
.lorem{
    font-size: 15px;
}
.search-icon{
    height: 20px;
    margin-top: 30px;
}