* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(./Cosmic-Gradient-14.jpg);
    background-size: cover;
    width: 100vw;

}

.flex-container-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #02013d67;
    height: 80px;
}

.flex-container-navbar>div {
    display: flex;
    justify-content: center;
}

.logo {
    height: 80px;
}

.search-icon {
    height: 20px;
}

.flex-container-hac {
    align-items: center;
    width: 50%;
}

.flex-container-hac>div {
    width: 100%;
    color: rgb(255, 255, 255);
}

.flex-container-textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

}

.textbox {
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 30vh 30vw;
    border-radius: 20px;
    box-shadow: 0 0 50px 10px #ffffff;
    gap: 20px;
    width: 66vw;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.textbox>p {
    padding: 15px;
}

.bold {
    font-weight: 600;
    font-size: 30px;
}

.lorem {
    font-size: 13px;
}

.home {
    padding-left: 16vw;
}

.contact {
    padding-right: 16vw;
}